body{
    color: white;
    background-color: #6c8fb4;  
}

.titulo-principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
}