body{
    color: white;
    background-color: #6c8fb4;  
}

.titulo-principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
}

.conteudo-senha{
    margin-top: 80px;
    background-color: #6c8fb4;
    padding: 24px;
    text-align: center;
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}